.filtersForm {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 56px;
}

.submitBtn {
  padding: 12px 51px;
  border-radius: 12px;
  border: none;
  color: var(--white);
  background-color: var(--light-blue);
  transition: background-color 250ms ease-in;
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: var(--dark-blue);
}
