.card {
  position: relative;
  width: calc((100% - (3 * 32px)) / 4);
}

.cardImg {
  border-radius: 14px;
  margin-bottom: 16px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.titlePart {
  color: var(--light-blue);
}

.carInfo {
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--gray);
}

.carInfoLink {
  display: block;
  text-align: center;
  padding: 12px 0;
  border-radius: 12px;
  color: var(--white);
  background-color: var(--light-blue);
  transition: background-color 250ms ease-in;
}

.carInfoLink:hover,
.carInfoLink:focus {
  background-color: var(--dark-blue);
}
