.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  background-color: var(--badges);
}

.logo {
  padding: 24px 0;
  font-weight: 700;
}

.logoPart {
  color: var(--dark-blue);
}

.navWrapper {
  display: flex;
  gap: 32px;
}

.navLink {
  padding: 24px 0;
}

.activeNavLink {
  color: var(--dark-blue);
}
