.title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.featureWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.featureWrapper:not(:last-child) {
  margin-bottom: 16px;
}
