.container {
  height: calc(100vh - 68px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
}
